create_host_and_deploy_code/roles/create_host/files/aws_test_key_pem.pem
create_host_and_deploy_code/roles/create_host/files/aws_test_key_pem.pub
create_host_and_deploy_code/roles/create_host/files/aws_test_key_rsa
create_host_and_deploy_code/roles/create_host/files/aws_test_key_rsa.pub
create_host_and_deploy_code/roles/create_host/files/aws_test_key_pem.pem
create_host_and_deploy_code/roles/create_host/files/aws_test_key_pem.pub
create_host_and_deploy_code/test_docker_env/authorized_keys
create_host_and_deploy_code/test_docker_env/basic_user_id_rsa
create_host_and_deploy_code/test_docker_env/basic_user_id_rsa.pub
create_host_and_deploy_code/roles/deploy_code/defaults/.env
